body {
    background-image: url('https://wallpaperaccess.com/full/869.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50rem;
    align-items: center;
    justify-content: center;
}

button {
    width: 21%;
    height: 15%;
    background: rgb(106, 10, 109);
    border: none;
    color: white;
    font-size: 60px;
    clip-path: polygon(100% 0%, 93% 50%, 100% 100%, 7.8% 100%, 5% 50%, 8% 0%);
    margin: 20px auto;
}

.github-icon {
    width: 5%;
    height: 5%;
}