.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-body {
    object-fit: cover;
}

.check-out {
    width: 94.5%;
    margin-bottom: 50px;
}

ion-icon {
    font-size: 30px;
}